<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename = 'scripts.js') }}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <title>Personal Portfolio</title>
  </head>
  <body>

    <nav class="navbar sticky-top">
      <span id="damian" class="dark">
        DAMIAN
      </span>
      <span id="contact" class="dark">
        CONTACT
      </span>
      <div class="divider"></div>
    </nav>

    <body>   
        {% block content %}
        {% endblock %}
    </body>

  </body>
</html>




